
.container{
	display: flex;
	border-style: solid;
	border-color: black;
	background-color: lightblue;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-items: flex-start;

	
}

.divs{
	height: 52px;
	width: 120px;
 	margin: 1px 1px 1px 1px;
  	background-color: #555;
}